::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #848484;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #848484;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #848484;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

textarea {
    background-color: #DFDFDF;
    color: #3F3F3F;
}

select {
    background-color: #DFDFDF;
    color: #3F3F3F;
}

td, th {
    text-align: center;
    border: 1px solid #3F3F3F;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: unset;
}

h1 {
    color: #111111;  
}

h3 {
    font-size: larger;
    color: #333333;
}

h2 {
    margin: 10px;
    text-align: center;
    font-size: 2em;
    border: none;
    width: 540px;
    padding-right: 20px;
    color: #808080;
}

body {
    margin: auto;
    width: 900px;
    padding: 0;
    background-color: #E1E1E1;
    color: #3F3F3F;
    overflow: hidden;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
    background-image: url('flame_background.gif');
    width: 600px;
}

.titleSubBox {
    text-align: center;
    width: 600px;
    color: #FFF;
}

.header-f {
    position: fixed;
    top: 0;
    height: 69px;
    width: 900px;
    z-index: 100;
}

.header-f a {
    float: left;
    top: 0;
    height: 1px;
    max-height: 1px;
}

.header-f div {
    float: left;
}

.header-f h1 {
    font-size: x-large;
}

.menu-f {
    position: fixed;
    top: 69px;
    width: 900px;
    background-color: #DADADA;
    height: 1.30em;
    z-index: 50;
}

.nav-f {
    float: left;
    position: relative;
    left: 50%;
    height: 1.30em;
}

.nav-f ul li {
    float: left;
    width: 100px;
    cursor: pointer;
    text-align: center;
    background-color: #DADADA;
    position: relative;
    right: 50%;
}

.menu ul li {
    float: none;
    right: 0;
}

.menu ul {
    display: none;
}

.nav-f ul li a, .nav-f ul li div {
    display: block;
    height: 100%;
    background-color: #DADADA;
    color: #3F3F3F;
}

.nav-f ul li a:hover, .nav-f ul li div:hover {
    background-color: #BABABA;
}

.nav-f ul li:hover {
    background-color: #CACACA;
}

.footer-f {
    position: fixed;
    bottom: 0;
    height: 2em;
    width: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 35;
    background-color: #E1E1E1;
}

.footer-f a {
    vertical-align: middle;
    color: #888888;
}

.footer-f a:hover, .aside-right-f a h3:hover {
    text-decoration: underline;
    color: #4993F0;
}

.content-f {
    height: calc(100vh - 69px - 3.30em);
    margin-top: calc(69px + 1.30em);
}

.aside-left-f {
    width: 18%;
    float: left;
    overflow: hidden;
}

.aside-left-f:hover {
    overflow-y: auto;
}

.form-connect {
    width: 162px;
}

.resizeable {
    resize: vertical;
}

.form-connexion {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
    background-color: #EAEAEA;
}

.form-field {
    border: none;
    color: #3F3F3F;
    background-color: #DFDFDF;
    max-width: 86%;
    max-height: 88%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 6%;
}

select {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 6%;
}

.form-title {
    display: block;
    height: 100%;
    text-align: center;
}

.form-elements {
    padding-bottom: 1em;
}

.form-label {
    display: block;
    height: 100%;
    text-align: center;
}

.form-field:focus {
    background-color: #CACACA;
}

.input-button {
    background-color: #DADADA;
    border-style: solid;
    border-color: #BABABA;
    width: 162px;
    color: unset;
    color: #3F3F3F;
}

.input-button:hover {
    background-color: #CACACA;
}

.input-button:active {
    border-color: #AAAAAA;
}

.section-f {
    width: 60%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    /* no ajax */
    display: none;
}

.section-f:hover {
    overflow-y: auto;
}

.aside-right-f {
    width: 18%;
    float: right;
    overflow: hidden;
}

.aside-right-f:hover {
    overflow-y: auto;
}

.article-f {
    width: 540px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.article-f iframe {
    width: 540px;
    height: calc(100vh - 69px - 3.30em - 4px - 20px - 2em - 6px);
    border: none;
    margin: 0;
}

.news-f {
    float: none;
    background-color: #DADADA;
    width: 162px;
}

.icon-news-f {
    float: left;
    margin-right: 5px;
    background-color: #EAEAEA;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-news-f {
    font-size: x-small;
    text-align: right;
}

[class^='hook-news-f'], [class*=' hook-news-f'] {
    font-size: small;
    overflow-y: hidden;
    position: relative;
    max-height: 6em;
    line-height: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
}

[class^='hook-news-f']:before, [class*=' hook-news-f']:before {
    content: "•••";
}

.hook-news-f-overflowed:after {
    content: "[...]";
    position: absolute;
    right: 0.2em;
    bottom: 0;
    background-color: #DADADA;
}

.video-news-f {
    height: 122px;
    width: 100%;
    border-color: white;
}

.containerSquare {
    position: relative;
}

.full-center {
    display: flex;
    justify-content: center;
}