body {
    margin: 0px;
    background-color: #303030;
    color: #c8c8c8;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7b7b7b;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7b7b7b;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7b7b7b;
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: unset;
}

.global-menu-field {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #252525;
    border-bottom: 1px solid #202020;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.global-menu-item {
    float: left;
}

.menu-left-item {
    float: left;
}

.menu-right-item {
    float: left;
}

.menu-open {
    margin-right: 9px;
}

.menu-continue {
    margin-left: 9px;
    margin-right: 9px;
}

.menu-close {
    margin-left: 9px;
}

.menu-searchbar-h {
    float: left;
}

.menu-home-h {
    float: left;
}

.menu-profil-h {
    float: left;
}

.menu-util-h {
    float: left;
}

.menu-settings-h {
    float: left;
}

.svg-subcontainer {
    height: 35px;
    width: 35px;
}

.svg-searchsubcontainer {
    height: calc(2em - 2px);
    width: calc(2em - 2px);
    max-width: 43px;
    max-height: 43px;
}

.svg-hyperlinksubcontainer {
    height: 28px;
    width: 28px;
    min-height: 28px;
    min-width: 28px;
}

.svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
}

svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.conversation-field {
    position: relative;
}

.conversation-menu-field {
    position: relative;
}

.message-field {
    position: relative;
}

.vertical-filler-gm {
    height: 43px;
    display: flex;
    align-items: center;
}

.horizontal-extender {
    min-width: 90px;
    max-width: 400px;
    width: calc(100vw - 443.217px);
    /* forcer la taille max du bouton accueil et du bouton profil ? (dépendant de la police?)*/
}

.searchbutton {
    padding: 0;
    border-top: 1px solid #373737;
    border-right: 1px solid #151515;
    border-bottom: 1px solid #151515;
    border-left: none;
    box-sizing: border-box;
    height: 2em;
    background-color: #212121;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.searchfield {
    height: 2em;
    max-height: 43px;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    border-bottom: 1px solid #151515;
    border-right: none;
    background-color: #212121;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding-bottom: 0.25em;
    box-shadow: 0 0;
    padding-left: 5px;
}

.searchfield:focus::placeholder {
    color: #9b9b9b;
}

.searchfield:focus:-ms-input-placeholder {
    color: #9b9b9b;
}

.searchfield:focus::-ms-input-placeholder {
    color: #9b9b9b;
}

.hyperlink {
    height: 28px;
    display: flex;
    align-items: center;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 5px;
    background-color: #252525;
}

.hyperlink-svg {
    padding-left: 0;
}

.hyperlink-svg-only {
    border-radius: 5px;
}

.hyperlink:hover, .hyperlink-svg-only:hover {
    background-color: #191919;
}

.hyperlink:active, .hyperlink-svg-only:active {
    background-color: #434343;
}

.hyperlink-text {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: 700;
    background-color: inherit;
}

.overflowable {
    overflow: hidden;
    white-space: nowrap;
}

.overflowed::after {
    content: "...";
    position: absolute;
    right: 0.2em;
    padding-left: 0.1em;
    pointer-events: none;
    background-color: inherit;
}

.vertical-line {
    width: 2px;
    height: 18px;
    background-color: #212121;
}

.menu-extender {
    position: fixed;
    background-color: #252525;
    z-index: 1001;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737;
    border-bottom: 1px solid #151515;
    border-right: 1px solid #151515;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 225px;
    display: none;
    max-height: 253px;
    overflow-y: hidden;
}

.menu-extender-header {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #202020;
    font-size: small;
    font-weight: 700;
}

.se-element {
    font-size: small;
    font-weight: 500;
}

.meh-item-open {
    float: left;
}

.meh-item-close {
    float: right;
}

.menu-extender-header::after {
    display: block;
    visibility: hidden;
    content: ".";
    line-height: 0;
    font-size: 0;
    height: 0;
    clear: both;
}

.vertical-filler-meh {
    height: 28px;
    display: flex;
    align-items: center;
}

.extender-title {
    padding-left: 9px;
    padding-right: 9px;
}

.se-loading {
    position: absolute;
    top: 26px;
    height: 2px;
    width: 100%;
    background-color: #838383;
}

.se-loaded {
    height: inherit;
    background-image: -moz-linear-gradient(left, #233d88, #65228c);
    background-image: -webkit-linear-gradient(left, #233d88, #65228c);
    background-image: -o-linear-gradient(left, #233d88, #65228c);
    background-image: linear-gradient(to right, #233d88, #65228c);
}